name: Package and Publish Pre-Release on Push

on:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - "**"
  workflow_dispatch:

jobs:
  package-and-publish-all-assets:
    runs-on: ubuntu-latest

    steps:
      # Checkout the repository
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Extract Version from Changelog
        id: extract_version
        run: |
          VERSION_LINE=$(grep -E '^###.*[rRv]?[0-9]' ./ResourcePacks/Changelogs.md | head -n 1)

          if [ ! -z "$VERSION_LINE" ]; then
            # 移除 `### ` 前缀和反引号及其中的内容
            VERSION=$(echo "$VERSION_LINE" | sed -E 's/^### *//' | sed -E 's/`[^`]*`//g' | sed 's/[[:space:]]\+/./g')

            # 清理版本号，只保留字母、数字、点号和连字符
            SANITIZED_VERSION=$(echo "$VERSION" | sed 's/[^a-zA-Z0-9.-]/-/g' | sed 's/--*/-/g' | sed 's/-$//' | sed 's/\.$//' | sed 's/^-//')
          else
            SANITIZED_VERSION="unknown-version"
          fi

          echo "BASE_VERSION=$SANITIZED_VERSION" >> $GITHUB_ENV
          echo "Extracted base version: $SANITIZED_VERSION"

      - name: Check If Release Exists
        run: |
          git fetch --tags
          if [ -n "$(git tag -l "${{ env.BASE_VERSION }}")" ]; then
            echo "Release already exists"
            release_exists=true
          else
            echo "Release does not exist"
            release_exists=false
          fi
          if [ "$release_exists" == "true" ]; then
            counter=1
            while [ -n "$(git tag -l "${{ env.BASE_VERSION }}-${counter}")" ]; do
              counter=$((counter + 1))
            done
            echo "tag=${{ env.BASE_VERSION }}-${counter}" >> $GITHUB_ENV
            echo "release_count= - ${counter}" >> $GITHUB_ENV
          else
            echo "tag=${{ env.BASE_VERSION }}" >> $GITHUB_ENV
          fi

      # Create a zip file from ResourcePacks folder
      - name: Package ResourcePack as ZIP
        run: |
          cd './ResourcePacks'
          zip -r ../java-edition-${{ env.tag }}.zip .
          echo "Created archive: java-edition-${{ env.tag }}.zip"

      - name: Upload Build Artifact to Actions
        uses: actions/upload-artifact@v6
        with:
          name: java-edition-${{ env.tag }}
          path: ./java-edition-${{ env.tag }}.zip

      # Create a GitHub pre-release with ncipollo/release-action and upload asset
      - name: Create Pre-Release and Upload Asset
        if: github.event_name != 'pull_request'
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ env.tag }}
          name: 预发布版本 - ${{ env.tag }}
          body: "此预发布版本由Github Action自动构建。\n基础版本: ${{ env.BASE_VERSION }}"
          draft: false
          prerelease: true
          makeLatest: true
          artifacts: "./java-edition-${{ env.tag }}.zip"
          token: ${{ secrets.GITHUB_TOKEN }}
